<!--header -->
<section id="intro">
    <div class="container">
      <div class="hdr__nav">
        <!-- <img
          class="logo"
          src="https://nsa40.casimages.com/img/2020/03/29/200329114345103693.png"
          alt=""
        /> -->
        <h1>{{title}}</h1>
        <div class="nav__burger" (click)="toggleMenu()" #hamburger>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="header__text">
        <h1>
          The surpose is to <br />
          teach, bring learning to people
        </h1>
        <span class="square"></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          molestiae, officiis similique at consequuntur rerum aliquam ratione,
          sed harum placeat enim est omnis ex voluptatem illum quam, provident
          earum natus.
        </p>
        <a class="header__btn" href="#">Lire Plus</a>
        <div class="line">
          <span class="line-1"> <a href=""> </a></span
          ><span class="line-2"> <a href=""> </a></span
          ><span class="line-3"> <a href=""> </a></span>
        </div>
      </div>
    </div>
  </section>
  <!--sideNav -->
  <nav id="sideNav" #sideNav>
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link">home</a></li>
      <li class="nav__item"><a class="nav__link">about us</a></li>
      <li class="nav__item"><a class="nav__link">features</a></li>
      <li class="nav__item"><a class="nav__link">courses</a></li>
      <li class="nav__item"><a class="nav__link">offer</a></li>
      <li class="nav__item"><a class="nav__link">contact</a></li>
    </ul>
  </nav>
  <!--about -->
  <section id="about">
    <div class="about__leftCol">
      <img
        class="image__leftCol"
        src="https://nsa40.casimages.com/img/2020/03/29/200329114338481063.png"
        alt=""
      />
    </div>
    <div class="about__rightCol">
      <div class="about__text">
        <h1>about us</h1>
        <span class="square"></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
          magnam porro esse eius repellat consequatur cumque voluptatem.
          Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus
          error reiciendis consectetur deleniti repellat odit, voluptas minima
          magni vel aliquam unde quidem eum vitae.
        </p>
        <div class="line">
          <span class="line-1"> <a href=""></a></span
          ><span class="line-2"> <a href=""></a></span
          ><span class="line-3"> <a href=""></a></span>
        </div>
        <h2>
          " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero,
          quaerat. Nemo porro reiciendis iure similique placeat eveniet
          molestiae natus sunt? "
        </h2>
        <h3>Codwerk</h3>
      </div>
    </div>
  </section>
  <!--features-->
  <section id="features">
    <div class="feature__row">
      <div class="feature__Col">
        <img
          src="https://nsa40.casimages.com/img/2020/03/29/200329114348648102.png"
          alt="Learn Anywhere"
        />
        <h4>Learn Anywhere</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="feature__Col">
        <img
          src="https://nsa40.casimages.com/img/2020/03/29/200329114349628513.png"
          alt="Expert Teachers"
        />
        <h4>Expert Teachers</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="feature__Col">
        <img
          src="https://nsa40.casimages.com/img/2020/03/29/200329114350609424.png"
          alt="Unlimted Access"
        />
        <h4>Unlimted Access</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="features__btn">
      <div class="line">
        <span class="line-1">
          <a href=""> <i class="icon 1"></i></a></span
        ><span class="line-2">
          <a href=""> <i class="icon 2"></i></a></span
        ><span class="line-3">
          <a href=""> <i class="icon 3"></i></a
        ></span>
      </div>
      <a class="header__btn" href="#">Essaie Gratuit</a>
    </div>
  </section>
  <!--courses-->
  <section id="courses">
    <div class="container course-row">
      <div class="courses__leftCol">
        <div class="courses__txt">
          <h1>
            Le but est <br />
            d'enseigner, de faire apprendre aux gens
          </h1>
          <span class="square"></span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur molestiae, officiis similique at consequuntur rerum
            aliquam ratione, sed harum placeat enim est omnis ex voluptatem
            illum quam, provident earum natus.
          </p>
          <a class="header__btn" href="#">Tout les cours</a>
          <div class="line">
            <span class="line-1"> <a href=""></a></span
            ><span class="line-2"> <a href=""></a></span
            ><span class="line-3"> <a href=""></a></span>
          </div>
        </div>
      </div>
      <div class="courses__rightCol">
        <img
          src="https://nsa40.casimages.com/img/2020/03/29/200329114346506284.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <!--offer-->
  <section id="offer">
    <div class="offer__leftCol">
      <img
        class="image__leftCol"
        src="https://nsa40.casimages.com/img/2020/03/29/200329114351254242.png"
        alt=""
      />
    </div>
    <div class="offer__rightCol">
      <div class="offer_text">
        <h1>
          Apprentissage illimité,<br />
          possibilités illimitées
        </h1>
        <span class="square"></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
          magnam porro esse eius repellat consequatur cumque voluptatem.
          Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus
          error reiciendis consectetur deleniti repellat odit, voluptas minima
          magni vel aliquam unde quidem eum vitae.
        </p>
        <a class="header__btn" href="#">Essaie Gratuit</a>
        <div class="line">
          <span class="line-1"> <a href=""></a></span
          ><span class="line-2"> <a href=""></a></span
          ><span class="line-3"> <a href=""></a></span>
        </div>
      </div>
    </div>
  </section>
  <!--contact-->
  <section id="contact">
    <div class="container contact__row">
      <div class="contact__leftCol">
        <h1>
          Inscrivez-vous pour rejoindre<br />
          notre communauté d'apprentissage
        </h1>
        <form class="form" action="">
          <div class="form__group">
            <input
              class="input__field"
              id="name"
              type="text"
              name="name"
              placeholder="Entrez le nom"
            />
            <label for="name"> <i class="icon ion-md-person"></i></label>
          </div>
          <div class="form__group">
            <input
              class="input__field"
              id="email"
              type="email"
              name="email"
              placeholder="Entrez l'email"
            />
            <label for="email"> <i class="icon ion-md-mail"></i></label>
          </div>
          <div class="form__group">
            <input
              class="input__field"
              id="password"
              type="password"
              name="password"
              placeholder="Entrez le password"
            />
            <label for="password"> <i class="icon ion-md-lock"></i></label>
          </div>
          <div class="btn__box">
            <a class="header__btn" href="#">Inscrivez-vous</a
            ><a class="header__btn" href="#">Essaie Gratuit</a>
          </div>
          <div class="line">
            <span class="line-1"> <a href=""></a></span
            ><span class="line-2"> <a href=""></a></span
            ><span class="line-3"> <a href=""></a></span>
          </div>
        </form>
      </div>
      <div class="contact__rightCol">
        <img
          src="https://nsa40.casimages.com/img/2020/03/29/200329114342810237.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <!--footer-->
  <footer id="footer">
    <div class="container footer__row">
      <hr />
      <div class="footer__leftCol">
        <ul class="footer__links">
          <li class="link__title">
            <h4>Product</h4>
            <small>Our Plan</small><small>Free Trial</small>
          </li>
          <li class="link__title">
            <h4>About Us</h4>
            <small>Request Demo</small><small>FAQs</small>
          </li>
          <li class="link__title">
            <h4>Support</h4>
            <small>Features</small><small>Contact</small>
          </li>
          <li class="link__title">
            <h4>Explore</h4>
            <small>Find a non profit</small><small>Corporate Solution</small>
          </li>
        </ul>
      </div>
      <div class="footer__rightCol">
        <div class="footer__info">
          <div class="copyright-text">
            <small>https://codwerk.github.io/</small
            ><small>copyright 2020 codwerk</small>
          </div>
          <div class="footer__logo">
            <img
              src="https://avatars1.githubusercontent.com/u/36073831?s=460&u=f07ac15aa1000b4aee77aba9ece5c276559732dc&v=4"
              alt=""
            /><a class="header__btn" href="#">English</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--social-icons-->
  <ul class="social-icons">
    <li class="social__items">
      <a href="https://github.com/codwerk" target="_blank"
        ><i class="icon ion-logo-github"> </i
      ></a>
    </li>
    <li class="social__items">
      <a
        href="https://www.linkedin.com/in/widdy-louis-1a226ba9/"
        target="_blank"
        ><i class="icon ion-logo-linkedin"> </i
      ></a>
    </li>
    <li class="social__items">
      <a href="https://www.instagram.com/codwerk/" target="_blank"
        ><i class="icon ion-logo-instagram"> </i
      ></a>
    </li>
  </ul>